@import './styles/variables.scss';

.no-content {
    color: darken($light-grey, 30%);
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    font-size: 0.9em;
}

.card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    @include standard-shadow;
    margin: 15px 0;
    background-color: $light-grey;
    border-radius: 3px;
    h4 {
        margin: 0 0 5px;
    }
    p {
        margin: 0;
        font-size: 0.8em;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .card-info {
        padding: 10px 12px 10px;
        .details-left {
            float: left;
        }
        .details-right {
            float: right;

        }
        &:after {
            content: "";
            display: block;
            clear: both;

        }
    }
}

