@import './styles/variables.scss';

.searchbar {
    width: 100%;
    padding: 15px 0 15px;
    position: relative;
    span {
        position: absolute;
        margin: 5px 0 0 5px;
        font-size: 0.7em;
        color: lighten($dark-font, 15%);
    }
    input {
        font-size: 0.7em;
        width: 100%;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 5px 18px;
        box-sizing: border-box;
        &::placeholder {
            color: lighten($dark-font, 20%);
        }
    }
}

.search-results-wrapper {
    position: relative;
    &.show {
        display: block;
    }
    .search-results {
        background: $light-grey;
        width: 100%;
        li {
            cursor: pointer;
            padding: 5px 10px;
            border-bottom: 1px solid $light-grey-border;
        }
    }
}


