@import './styles/variables.scss';

.searchbar {
    width: 100%;
    padding: 10px 0 5px;
    input {
        width: 100%;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 5px 7px;
        box-sizing: border-box;
    }
}

.search-options-wrapper {
    position: relative;
    &.show {
        display: block;
    }
    .search-options {
        // position: absolute;
        background: $light-grey;
        width: 100%;
        li {
            cursor: pointer;
            padding: 5px 10px;
            border-bottom: 1px solid $light-grey-border;
        }
    }
}


