@import './styles/variables.scss';

.cloud-bin {
    padding: 10px 10px 0;
    border: 1px solid darken($light-grey, 20%);
    background: darken($light-grey, 5%);
    &.show {
        display: block;
    }
    li {
        font-size: 0.8em;
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        box-sizing: border-box;
        background: $light-blue;
        float: left;
        box-shadow: 0 0 2px 1px $shadow;
    }
    &:after {
        content: "";
        display: block;
        visibility: hidden;
        clear: both;
    }
    i {
        padding: 0px 0px 0 5px;
        color: lighten($dark-font, 10%);
    }
}