@import './styles/variables.scss';

.cloud-bin {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid darken($light-grey, 20%);
    background: darken($light-grey, 5%);
    &.show {
        display: block;
    }
    li {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        background: darken($light-grey, 12%);
        float: left;
        box-shadow: 0 0 3px $shadow;
    }
    &:after {
        content: "";
        display: block;
        visibility: hidden;
        clear: both;
    }
}